*{
    background-color: aquamarine;
}
.square{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: beige;
    cursor: pointer;
    text-align: center;
}
.board{
    margin-left: 10%;
    margin-top: 5%;
}
.history{
    margin-top: 7%;
}